.highlight .nx, .highlight .p, .highlight .o {
  color: #bdbdbd;
}

.highlight .na {
  color: #6cb6ff;
}

.highlight .kd {
  color: #f47067;
}

.highlight .dl, .highlight .s1 {
  color: #96d0ff;
}

.highlight .k {
  color: #f69d50;
}
